[hostGroup1:children]
hostGroup1ToBackup
hostGroup1Backup

[hostGroup1ToBackup:children]
hostGroup1VPS
debug

[hostGroup1VPS:children]
peopleActMag
vertige

[hostGroup1Backup]
hostGroup1Backup1


[backup:children]
hostGroup1Backup

[VPS:children]
hostGroup1VPS
